@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1f2937;
  --background: #e5e7eb;
  --deep-blue: #1e40af;
  --deep-red: #b91c1c;
}

body {
  color: var(--foreground);
  background: var(--background);
}
